.coming-soon-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.coming-soon-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.coming-soon-main {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 1320px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.coming-soon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coming-soon-container2 {
  display: flex;
  position: relative;
}
.coming-soon-button {
  color: var(--dl-color-gray-white);
  outline: none;
  font-size: 0.75rem;
  background: linear-gradient(270deg, rgba(135, 157, 205, 0.95) 1.00%,rgba(218, 137, 183, 0.92) 68.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: all .15s ease-in;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 1.875rem;
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
@media(max-width: 1200px) {
  .coming-soon-image {
    width: 90%;
  }
}
@media(max-width: 991px) {
  .coming-soon-container1 {
    background-size: auto;
  }
  .coming-soon-main {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .coming-soon-main {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .coming-soon-main {
    justify-content: center;
  }
}
