.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient(270deg, rgba(135, 157, 205, 0.95) 1.00%,rgba(218, 137, 183, 0.92) 68.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.primary-pink-button-root-class-name {
  align-self: center;
}
.primary-pink-button-root-class-name1 {
  align-self: center;
}
@media(max-width: 767px) {
  .primary-pink-button-root-class-name {
    display: none;
  }
  .primary-pink-button-root-class-name1 {
    display: none;
  }
}
